{{ template "menu.html" .}}
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
        </nav>
        <div class="container-fluid" id="container-wrapper">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">TestZilla</h1>
            </div>
            <div class="row col-lg-12">

            </div>
        </div>

        <!-- Row -->
        <div class="row col-lg-12">
            <!-- pie Chart -->
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"></h6>
                    </div>
                    <div class="card-body">
                        <div class=" pt-3">
                            <table class="table">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>

                                    <td>Welcome to TestZilla, An <a href="https://github.com/khaleghsalehi/TestZilla">open source</a> &  distributed solution for stress test and benchmarking on
                                        Application Services, APIs, Web Servers and Network Protocols. TestZilla is
                                        currently under development, and it's initial version is focused on Web
                                        Application Services and API. At TestZilla development, we are trying to provide
                                        you with a home-based and cost-effective solution for setting up a test lab.
                                        Currently, there are many open source solutions for stress testing and
                                        benchmarking in the open source community, thanks all of them. We are trying to
                                        provide all the functional features of these tools in the form of unique
                                        solution.
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        Open and report issue <a
                                            href="https://github.com/khaleghsalehi/TestZilla/issues">here</a>&nbsp;or&nbsp;<a
                                            href="mailto:khaleghsalehi@gmail.com">Report any bug here</a>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Donate or Help TestZilla</p>  <a href="mailto:khaleghsalehi@gmail.com">Click
                                        here</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ template "footer.html" .}}
</div>
</div>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/ruang-admin.min.js"></script>
<script src="vendor/chart.js/Chart.min.js"></script>

</body>

</html>