{{ template "menu.html" .}}

<!-- Sidebar -->
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">New Test Scenario </h1>
            </div>

            <div class="row">
                <div class="col-lg-8">


                    <!-- Horizontal Form -->
                    <div class="card mb-4">

                        <div class="card-body">
                            <form method="post" action="/deployNodes" enctype="multipart/form-data">

                                <div class="form-group row">
                                    <label for="testName" class="col-sm-3 col-form-label">Test Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="testName" name="testName"
                                               placeholder="e.g Payment Service Stress Test" required>
                                    </div>
                                </div>
                                <hr>
                                <!-- Protocol -->
                                <div class="form-group row">
                                    <label for="protocol" class="col-sm-3 col-form-label">Protocol Name</label>
                                    <div class="col-sm-9">
                                        <select name="protocolName" id="protocol" required>
                                            <option value="HTTP">HTTP</option>
                                            <option value="HTTPS">HTTPS</option>
                                        </select>
                                    </div>
                                </div>
                                <!--                                Protocol parameters-->
                                <div class="form-group row">
                                    <label for="protocolOptions" class="col-sm-3 col-form-label">Protocol
                                        Options</label>
                                    <div class="col-sm-9">
                                        <select name="protocolOptions" id="protocolOptions" required>
                                            <option value="GET">GET</option>
                                            <option value="POST">POST</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Option POST File Size/Byte (Max  1000,000,000 )</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="testPostFileSize"
                                               placeholder="e.g 128000">
                                    </div>
                                </div>
                                <hr>

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Test Duration (Second)</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="testDuration"
                                               placeholder="e.g 128" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Max Thread Per Node (Agent)</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="testMaxThreadPerNode"
                                               placeholder="e.g 32000" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Max Request</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="testMaxRequest"
                                               placeholder="e.g 1000000" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="nodeIPList" class="col-sm-3 col-form-label">Node (Agent) IP
                                        List (comma separated)</label>
                                    <div class="col-sm-9">
                                        <textarea id="nodeIPList" name="testNodeIPList" rows="4"
                                                  cols=""></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Target IP</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="targetIP"
                                               placeholder="e.g 192.168.1.1"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Target Port</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="targetPort" placeholder="e.g 1234"
                                               required>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Node SSH Username</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="nodeSSHUserName"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Node SSH Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" name="nodeSSHPassword"
                                               required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Node SSH Port</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="nodeSSHPort"
                                               placeholder="e.g 22" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-9 offset-3">
                                        <h4 id="message" style="color: #be2617"></h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-3">
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-play"></i> Start
                                            Test
                                        </button>
                                        <button type="button" onclick="window.location='/protection'"
                                                class="btn btn-warning"><i class="fa fa-times"></i> Clear Form
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row-->


        </div>
        <!---Container Fluid-->
    </div>
    {{ template "footer.html" .}}

</div>
</div>


<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/ruang-admin.min.js"></script>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const message = urlParams.get('msg');
    document.getElementById("message").innerHTML = message;
</script>
</body>

</html>